
<h2>Name:</h2>
<%= @user.name %>

<h3>Mood:</h3>
<%= @user.mood %>

<h3>Tickets:</h3>
<%= @user.tickets %>

<h3>Height:</h3>
<%= @user.height %>

<br>

<%= link_to "Log Out", '/logout', method: 'delete' %>


<br>

<%= link_to "See attractions", attractions_path %>
